.image{
    display: flex;
    justify-content: center;
}
.image-row img {
    margin: 10px;
    max width: 100%;
    height: auto;
}
form{
    max-width: 600px;
    margin: auto;
}
body{
    background-color: bisque;
}